body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}
a {
    color: seashell;
    text-decoration: underline;
}
h2, h3, h4{
    margin: 0;
    padding:10px;

}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu{
    float:right;
    color: aliceblue;
}
header {
    width: 99%;
    position: fixed;
    background-color: black;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid seashell;
    height: 69px;
  }
  header img{
    height: 50px;
    padding-left:10px;
  }
  nav{
    text-align: right;
    flex-grow: 1;
  }
.mission{
    height: 700px;
    padding-top: 70px;
}
.location{
    height: 700px;
    padding-top: 70px;
}
.featured{
    height: 700px;
    padding-top: 70px;
}
#mission{
     background-image:url(/pictures/img-mission-background.jpg);
    height: 700px;
    padding-top: 70PX;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x:center;
    width: 100%;
}
#mission ::content{
    display: flex;
    flex-flow: column;
    padding: 5px 5px;
    position: absolute;
    align-content: center;
    justify-content: space-around;
    margin:0;
    background-color: black;
    width: 100px;
}
#item{
    padding:10px;
}
#item img{
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
}
#location{
    background-image: url(./pictures/img-locations-background.jpg);
    height:500px;
    width:100%;
    background-repeat: no-repeat;
    background-position-x:center ; 
    justify-content:left;  
}

#location{
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
}
.address{
   background-color: black;
   width: 300px;
   height: 300px;
   margin: 0 20px;
   text-align: center;
}
.copyright{
    text-align: left;
    padding-left:20px ;
}